
.btn-invoices
{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    margin-right:120px;

}
.button-right-section {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    -webkit-box-pack: end;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: stretch;
}
.o_x2m_control_panel_right{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

}
.btn-warning-color{
    background:#e0a800;
    border-color:#d39e00;
}
.button_preview_invoice_lines{
    font-weight:bold;
}
.attachment_preview
{
    background-color: rgb(61, 155, 187);
    color: white !important;
    position: relative;
    border-radius: 5px;
    width: 50px;
}